[submodule "external/openssl"]
	path = external/openssl
	url = mikael@git.hem.za.org:/srv/git/pub/android/openssl.git
[submodule "external/ipsec-tools"]
	path = external/ipsec-tools
	url = mikael@git.hem.za.org:/srv/git/pub/android/ipsec-tools.git
