[submodule "external/openssl"]
	path = external/openssl
	url = https://mikma@github.com/mikma/openssl-android.git
[submodule "external/ipsec-tools"]
	path = external/ipsec-tools
	url = https://mikma@github.com/mikma/ipsec-tools-android.git
